<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script> 
    <title>Just Music</title>
</head>
<body>

    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type= "text/javascript" src ="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src= "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.mmin.js"></script>

    <main>
        {{{ body }}}
    </main>
    
    <footer>Just Music brought to you by Group 4 Development

    </footer>

    <script href=""></script>
</body>

</html>


