<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel = "stylesheet"
         href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
      <script type = "text/javascript"
         src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
      <script src = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js">
      </script> 
    <title>Just Music</title>
</head>
<body>

  <header>
    <nav>
      {{#if loggedIn}}

          <div class="nav-wrapper">
              
              <a href="../img/just-music-logo.jpg" class="brand-logo">Just Music</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">

                  <li><a href="/homepage">🎵Home🎵</a></li>
                  <li><a href="/profile"🎵>Profile🎵</a></li>
                  <button id="logout" class="btn">🎵Logout🎵</button>
                  {{else}}
                  <a href="/login">🎵Login🎵</a>
                  {{!-- <li><a href="messages.html">Messages</a></li> --}}
                  
              </ul>
          </div>
          {{/if}}
    </nav>
  </header>
    

    <main>
        {{> login }}
        {{{ body }}}
    </main>
    
    <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Thank You for visiting Just Music!</h5>
                <p class="grey-text text-lighten-4">Brought to you by GROUP 4 Development</p>
              </div>
              
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2021 GROUP 4 Development
            </div>
          </div>
    </footer>
</body>

</html>


