<nav>

        <div class="nav-wrapper">
            
            <a href="../img/just-music-logo.jpg" class="brand-logo"></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">

                <li><a href="home.html">🎵Home🎵</a></li>
                <li><a href="profile.html"🎵>Profile🎵</a></li>
                <li><a href="login.html">🎵Logout🎵</a></li>
                {{!-- <li><a href="messages.html">Messages</a></li> --}}
                
            </ul>
        </div>

</nav>  

<div>🎵Welcome to the Homepage!🎵</div>

<div>
  {{> new-post }}
</div>


<ul class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ul>



