<section id="profile">
    <div id="name-bio">
        <h1>{{ firstName }} {{ lastName }}, {{{ user_type }}}</h1>
         {{personalBio}}
    </div>

    <div class="container">
  <div class="section" id="top-artists-wrapper">
  <div class="row">
    <h3>Top 10 Artists</h3>
  </div>

  </div>
    
    <p>Enter the name of your favorite artist</p>
    <form id="artist-form" class="form-group">
      <input type="text" name="artist-name" id="search-text" placeholder="Enter Artist Name"></input>
      <a class="btn" id="search-artist">Add Artist</a>
    </form>


    <div class ="row" >
      <div id="top-artists">
        
      </div>


    </div>

    </div>

          <div class="section" id="concerts">
              <h3>Most Memorable Concerts</h3>
     
      <div class="row"></div>            
      <form id="concerts-form" class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <input type="text" id="concert-name" placeholder="Enter Concert/Artist Name">

                    </div>
                    <div class="input-field col 3">
                      <input type="date" id="concert-date">
                      <label for="concert-date">Enter Concert Date</label>
                    </div>
                  </div>
                  <div class="input-field row"></div>
                    <textarea class="materialize-textarea" id="concert-details" placeholder="Add concert details here"></textarea>
                    <button class="btn" id="save-concert" type="button">Save Concert</button>
                  </form>
                  
                  <ul id="memorable-concerts"></ul>
  
          </div> 
      
          <div class="section" id="recent-posts">
              <h2>Recent Posts</h2>
          </div> 
      </section>
  </div>